.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  margin: 0 auto;
  max-width: 680px;
  background-color: #FEFEFE;
  text-align: left;
  color: #222;
  letter-spacing: 0.3px;
  line-height: 1.2;
}

.container {
  margin: 24px;
}

nav {
  border-bottom: 3px solid #CCC;
  padding: 12px 0;
}

nav > a {
  margin-right: 10px;
  color: #386FA4;
  text-decoration: none;
  font-size: 28px;
}

.content {
  padding-top: 10px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.current {
  color: #386FA4;
}

.blog-list__list {
  margin-top: 60px;
}

.blog-list__list > li {
  padding: 3px 2px;
}

.blog-list__date {
  color: #999;
  margin-right: 10px;
  width: 100px;
  position: absolute;
  text-align: right;
}

.blog-list__title {
  display: block;
  margin-left: 115px;
}

/*
 * Post
 */
.post_title {
  margin-bottom: 2px;
  color: #333;
}

.post_date {
  margin-top: 2px;
  color: #999;
}

.post_content {

}

/*
 * Footer
 */
.about_me_footer {
  margin-top: 70px;
  border-top: 3px solid #CCC;
  padding: 12px 0;
}

.about_me_footer > p {
  margin: 3px;
  color: #999;
}

.linkedin_link {
  color: #386FA4;
}